.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  .inner__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media (max-width: 575.98px) {
      grid-template-columns: 1fr;
      gap: 3.47vw;
    }
  }
  p {
    font-size: 18px;
    @media (max-width: 991.98px) {
      font-size: 1.81vw;
    }
    @media (max-width: 575.98px) {
      font-size: 3.12vw;
    }
    @media (max-width: 360.98px) {
      font-size: 4.98vw;
    }
  }
}
